﻿@using System.Web.UI.WebControls
@using CeeLearnAndDo.Controllers
@using CeeLearnAndDo.Models
@using System.Web.Mvc
@using Microsoft.Ajax.Utilities

@{
    if (!HomeController.LoggedIn) {
        ViewBag.Title = "Toegang geweigerd!";
        ViewBag.Message = "U moet ingelogd zijn om deze pagina te zien";

        Response.Redirect("~/Home/Thanks");
    }

    DatabaseModels.Article Article = HomeController.PickedArticle;

    if (Article.ImagePath.IsNullOrWhiteSpace())
    {
        Article.ImagePath = "~/Images/blank.gif";
    }
}

<div class="article">
    <div class="row">
        <span class="article-options">
            @Html.ActionLink("Bewerk", "EditArticle", "Home", new {
           @ArticleId = Article.Id
       },
            null) | @Html.ActionLink("Verwijder", "Delete", "Home", new {
                   @ArticleId = Article.Id
               },
                        null)
        </span>
    </div>
    <div class="row">
        <img src="@Url.Content(Article.ImagePath)" class="article-image" />
        <h1 class="article-text">@Article.Title</h1>
        <div class="article-text">

            <p>
                @Html.Raw(Article.Content)
            </p>
        </div>
        <p class="text-muted article-by">Door: @Article.Author</p>
    </div>
</div>
