﻿@using CeeLearnAndDo.Controllers
@using CeeLearnAndDo.Models

@{
    int articlecount = 0;
    foreach (DatabaseModels.Article article in HomeController.ArticleList) {
        if (articlecount < 20) {
            <div class="article-preview">
                <h2>
                    @Html.ActionLink(
                        @article.Title,
                        "ViewArticle",
                        "Home",
                        new {
                            @ArticleId = article.Id
                        },
                        null)
                </h2>
                @if (article.Content.Length > 250) {
                    <div class="article-text">@Html.Raw(String.Format("{0}...", article.Content.Substring(0, 250)))</div>
                }
                else {
                    <div class="article-text">@Html.Raw(article.Content)</div>
                }
                <p class="text-right text-muted article-preview-by">Door: @article.Author</p>
            </div>
                articlecount++;
        }
    }
}