﻿<h4>@ViewBag.Message</h4>

<div>
    @using (Html.BeginForm("ContactForm", "Home")) {
        <table class="table">
            <tr>
                <td class="col-md-4 form-text">Naam</td>
                <td class="col-md-8">@Html.TextBox("Name", "", new { @class = "form-control form-textfield", @placeholder = "Vul hier uw naam in..." })</td>
            </tr>
            <tr>
                <td class="col-md-4 form-text">E-mail Adres</td>
                <td class="col-md-8">@Html.TextBox("Email", "", new {@class = "form-control form-textfield", @placeholder = "Vul hier E-mail adres in..."})</td>
            </tr>
            <tr>
                <td class="col-md-4 form-text">Bericht</td>
                <td class="col-md-8">@Html.TextArea("Message", "", new { @class = "form-control message-field", @placeholder = "Vul hier uw bericht in..." })</td>
            </tr>
            <tr>
                <td class="col-md-4"></td>
                <td class="col-md-8"><input class="btn btn-default" type="submit" value="Verzend"></td>
            </tr>
        </table>
    }
</div>


