﻿@using CeeLearnAndDo.Controllers

@{
    Layout = "";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style id="xml-viewer-style">
        div.header {
            border-bottom: 2px solid black;
            padding-bottom: 5px;
            margin: 10px;
        }

        div.collapsible &gt; div.hidden {
            display: none;
        }

        .pretty-print {
            margin-top: 1em;
            margin-left: 20px;
            font-family: monospace;
            font-size: 13px;
        }

        #webkit-xml-viewer-source-xml {
            display: none;
        }

        .collapsible-content {
            margin-left: 1em;
        }

        .comment {
            white-space: pre;
        }

        .button {
            -webkit-user-select: none;
            cursor: pointer;
            display: inline-block;
            margin-left: -10px;
            width: 10px;
            background-repeat: no-repeat;
            background-position: left top;
            vertical-align: bottom;
        }

        .collapse-button {
            background-image: -webkit-canvas(arrowDown);
            height: 10px;
        }

        .expand-button {
            background-image: -webkit-canvas(arrowRight);
            height: 11px;
        }
    </style>
</head>
<body>
    <div>
        @HomeController.RssText
    </div>
</body>
<div id="modern_scroll">
    <div id="modern_scroll_bars">
        <div id="ms_page_cover" />
        <div id="ms_middleclick_cursor" />
        <div id="ms_superbar" />
        <div id="ms_h_container">
            <div id="ms_hbar_bg"><div id="ms_hbar_bg_ui" /></div>
            <div id="ms_hbar"><div id="ms_hbar_ui" /></div>
        </div>
        <div id="ms_v_container">
            <div id="ms_vbar_bg"><div id="ms_vbar_bg_ui" /></div>
            <div id="ms_vbar"><div id="ms_vbar_ui" /></div>
        </div>
    </div>
</div>
</html>