﻿    <div class="article">
        <p class="article-text">CeeLearnAndDo levert hoogwaardige diensten op het gebied van.NET consultancy. De ervaren consultants van CeeLearnAndDo worden ingeschakeld voor verschillende opdrachten waarbij het altijd gaat om het aanbieden van .NET expertise. De opdrachten variëren van het begeleiden van een ontwikkelteam en het ontwikkelen van een databasemodel tot het opzetten van complexe architecturen en het ontwikkelen van bedrijfskritische applicaties. Daarnaast worden de consultants van CeeLearnAndDo dikwijls gevraagd als spreker op meerdere events in binnen- en buitenland. </p>
    </div>
