﻿@using System.Web.UI.WebControls
@using CeeLearnAndDo.Controllers
@using CeeLearnAndDo.Models

@model CeeLearnAndDo.Models.HtmlClass

@if (!HomeController.LoggedIn) {
    ViewBag.Title = "Toegang geweigerd!";
    ViewBag.Message = "U moet ingelogd zijn om deze pagina te zien";

    Response.Redirect("~/Home/Thanks");
}
<h4>@ViewBag.Message</h4>
<div>
    @using (Html.BeginForm("Add", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        <table class="table">
            <tr>
                <td><p class="article-text">Titel</p>@Html.TextBox("Title", "", new { @class = "form-control", @placeholder = "De titel van uw artikel" })</td>
            </tr>
            <tr>
                <td>
                    <p class="article-text">Tekst</p>@Html.TextAreaFor(model => model.HtmlContent)
                </td>
            </tr>
            <tr>
                <td>
                    <p class="article-text">Afbeelding</p>
                    <div class="file-input-wrapper text-center btn btn-default">
                        Upload
                        <input type="file" name="file" />
                    </div>
                </td>
            </tr>
            <tr>
                <td><input class="btn btn-default" type="submit" value="Plaats Artikel"></td>
            </tr>
        </table>
    }
</div>


