﻿@using CeeLearnAndDo.Controllers
@using CeeLearnAndDo.Models

@model HtmlClass

@if (!HomeController.LoggedIn) {
    ViewBag.Title = "Toegang geweigerd!";
    ViewBag.Message = "U moet ingelogd zijn om deze pagina te zien";

    Response.Redirect("~/Home/Thanks");
}
<h4>@ViewBag.Message</h4>
<div>
    @using (Html.BeginForm("EditReference", "Home")) {
        <table class="table">
            <tr>
                <td><p class="article-text">Naam</p>@Html.TextBox("Title", "", new { @class = "form-control", @placeholder = "De naam van het bedrijf" })</td>
            </tr>
            <tr>
                <td><p class="article-text">Tekst</p>@Html.TextAreaFor(model => model.HtmlContent)</td>
            </tr>
            <tr>
                <td>
                    <p class="article-text">Link</p>@Html.TextBox("Link", "", new { @class = "form-control", @placeholder = "De link naar het bedrijf" })
                </td>
            </tr>
            <tr>
                <td>
                    <p class="article-text">Afbeelding</p>
                    <div class="file-input-wrapper text-center btn btn-default">
                        Upload
                        <input type="file" name="file"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input class="btn btn-default" type="submit" value="Plaats Referentie"></td>
            </tr>
        </table>
    }
</div>

