﻿@using CeeLearnAndDo.Controllers
@using CeeLearnAndDo.Models
@using Microsoft.Ajax.Utilities

@{
    foreach (DatabaseModels.Reference reference in HomeController.ReferenceList) {

        if (reference.ImagePath.IsNullOrWhiteSpace()) {
            reference.ImagePath = "~/Images/blank.gif";
        }
        
        <div class="reference-preview">
            <img src="@Url.Content(reference.ImagePath)" class="reference-image" />
            <h2>
                @Html.ActionLink(
                        @reference.Title,
                        "ViewReference",
                        "Home",
                        new {
                            @referenceId = reference.Id
                        },
                        null)
            </h2>
            @if (reference.Content.Length > 250) {
                <div class="article-text">@Html.Raw(String.Format("{0}...", reference.Content.Substring(0, 250)))</div>
            }
            else {
                <div class="article-text">@Html.Raw(reference.Content)</div>
            }
        </div>
    }
}