﻿<h4>@ViewBag.Message</h4>

<div>
    @using (Html.BeginForm("SignInForm", "Home")) {
        <table class="table">
            <tr>
                <td class="col-md-4 form-text">Naam</td>
                <td class="col-md-8">@Html.TextBox("Username", "", new {@class = "form-control form-textfield", @placeholder = "Vul hier uw naam in..."})</td>
            </tr>
            <tr>
                <td class="col-md-4 form-text">E-mail Adres</td>
                <td class="col-md-8">@Html.Password("Password", "", new {@class = "form-control form-textfield", @placeholder = "Vul hier E-mail adres in..."})
            </tr>
            <tr>
                <td class="col-md-4"></td>
                <td class="col-md-8"><input class="btn btn-default" type="submit" value="Verzend"></td>
            </tr>
        </table>
    }
</div>