﻿@using CeeLearnAndDo.Controllers
@using CeeLearnAndDo.Models
@using Microsoft.Ajax.Utilities
@{
    DatabaseModels.Reference reference = HomeController.PickedReference;

    if (reference.ImagePath.IsNullOrWhiteSpace()) {
        reference.ImagePath = "~/Images/blank.gif";
    }
}
<div class="article">
    <img src="@Url.Content(reference.ImagePath)" class="reference-image"/>
    <h1 class="article-text">@reference.Title</h1>
    <div class="article-text">
        <p>
            @Html.Raw(reference.Content)
        </p>
    </div>
</div>