﻿@using CeeLearnAndDo.Controllers
@using CeeLearnAndDo.Models
@using Microsoft.Ajax.Utilities
@{
    DatabaseModels.Article Article = HomeController.PickedArticle;

    if (Article.ImagePath.IsNullOrWhiteSpace()) {
        Article.ImagePath = "~/Images/blank.gif";
    }
}

<div></div>
<div class="article">
    <div class="row">
        <img src="@Url.Content(Article.ImagePath)" class="article-image" />
        <h1 class="article-text">@Article.Title</h1>
        <div class="article-text">

            <p>
                @Html.Raw(Article.Content)
            </p>
        </div>
        <p class="text-muted article-by">Door: @Article.Author</p>
    </div>
</div>
<div class="article">
    @using (Html.BeginForm("TellAFriend", "Home")) {
        <table class="table">
            <h3>Vond je dit artikel interresant? Stuur het naar een vriend!</h3>
            <tr>
                <td class="col-md-4 form-text">Naam</td>
                <td class="col-md-8">@Html.TextBox("Name", "", new { @class = "form-control form-textfield", @placeholder = "Vul hier uw naam in..." })</td>
            </tr>
            <tr>
                <td class="col-md-4 form-text">E-mail Adres</td>
                <td class="col-md-8">@Html.TextBox("Email", "", new { @class = "form-control form-textfield", @placeholder = "Vul hier E-mail adres in..." })</td>
            </tr>
            <tr>
                <td class="col-md-4 form-text">Bericht</td>
                <td class="col-md-8">@Html.TextArea("Message", String.Format("Ik denk dat jij dit wel een interresant artikel vindt {0}", HttpContext.Current.Request.Url), new { @class = "form-control message-field", @placeholder = "Vul hier uw bericht in..." })</td>
            </tr>
            <tr>
                <td class="col-md-4"></td>
                <td class="col-md-8"><input class="btn btn-default" type="submit" value="Verzend"></td>
            </tr>
        </table>
    }
</div>