﻿@using CeeLearnAndDo.Controllers
@using CeeLearnAndDo.Models
<!DOCTYPE html>
<html>
@{
    bool loggedIn = HomeController.LoggedIn;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="icon" href="@Url.Content("~/content/favicon.ico")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @if (HttpContext.Current.Request.Url.ToString().Contains("NewArticle") || HttpContext.Current.Request.Url.ToString().Contains("EditArticle") || HttpContext.Current.Request.Url.ToString().Contains("NewReference")) {
        <script src="~/scripts/tinymce/tinymce.min.js"></script>
    <!-- Script to wire up your TinyMCE editor -->
        <script type="text/javascript">
            // Initialize your tinyMCE Editor with your preferred options
            tinyMCE.init({
                // General options
                mode: "textareas",
                theme: "modern",
                // Theme options
                theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
                theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
                theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
                theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
                theme_advanced_toolbar_location: "top",
                theme_advanced_toolbar_align: "left",
                theme_advanced_statusbar_location: "bottom",
                theme_advanced_resizing: true,

                // Example content CSS (should be your site CSS)
                content_css: "css/example.css"
            });
        </script>
    }
</head>
<body class="bodyBackground">
    <div class="pageBackground">
        <div class="navbar navbar-inverse navbar-fixed-top navbar-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("CeeLearnAndDo", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="top-li">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="top-li">@Html.ActionLink("Artikelen", "Articles", "Home")</li>
                        <li class="top-li">@Html.ActionLink("Referenties", "References", "Home")</li>
                        <li class="top-li">@Html.ActionLink("Contact", "Contact", "Home")</li>
                        @if (loggedIn) {
                            <li class="top-li">@Html.ActionLink("Admin", "Admin", "Home")</li>
                        }
                    </ul>
                    <div>
                        @if (loggedIn) {
                            @Html.ActionLink("Uitloggen", "Logout", "Home", null, new { @class = "btn login-button" })
                        }
                        else {
                            @Html.ActionLink("Inloggen", "Signin", "Home", null, new { @class = "btn login-button" })
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <div class="jumbotron">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="row">
                <div class="col-md-9 main-content">
                    @RenderBody()
                </div>
                <div class="container col-md-3">
                    @{
                        if (!((BuildManagerCompiledView)ViewContext.View).ViewPath.Contains("Thanks") && !((BuildManagerCompiledView)ViewContext.View).ViewPath.Contains("References")) {
                            if (!HttpContext.Current.Request.Url.ToString().Contains("Admin") && !((BuildManagerCompiledView)ViewContext.View).ViewPath.Contains("Thanks") && !loggedIn) {
                                <div class="recent-articles-box">
                                    <div class="recent-article-box-title">
                                        Recente artikelen
                                    </div>
                                    <div class="recent-article-box-content">
                                        @{
                                int articlecount = 0;
                                foreach (DatabaseModels.Article article in HomeController.ArticleList) {
                                    if (articlecount < 5) {
                                        <li class="recent-article-li">
                                            @Html.ActionLink(
                                                            @article.Title,
                                                            "ViewArticle",
                                                            "Home",
                                                            new {
                                                                @ArticleId = article.Id
                                                            }, null)
                                        </li>
                                        articlecount++;
                                    }
                                }
                                        }
                                    </div>
                                </div>
                            }
                            else {
                                <div>
                                    <li class="article-list-title">Artikelen (admin)</li>
                                    @foreach (DatabaseModels.Article article in HomeController.ArticleList) {
                                        <li class="article-list">
                                            @Html.ActionLink(
                                                @article.Title,
                                                "AdminViewArticle",
                                                "Home",
                                                new {
                                                    @ArticleId = article.Id
                                                },
                                                null)
                                        </li>
                                    }
                                    <li class="article-list">@Html.ActionLink("Artikel Toevoegen", "NewArticle", "Home")</li>
                                </div>
                                <div>
                                    <li class="reference-list-title">Referenties</li>
                                    @foreach (DatabaseModels.Reference reference in HomeController.ReferenceList) {
                                        <li class="article-list">
                                            @Html.ActionLink(
                                                @reference.Title,
                                                "ViewReference",
                                                "Home",
                                                new {
                                                    @ReferenceId = reference.Id
                                                },
                                                null)
                                        </li>
                                    }
                                    <li class="article-list">@Html.ActionLink("Referentie Toevoegen", "NewReference", "Home")</li>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - CeeLearnAndDo</p>
        </footer>
    </div>
    @Html.ActionLink(" ", "Feed", "Home", null, new { @class = "rss" })
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <div class="pageBottom">
        <div class="text-muted" style="float: left; width: 300px">
            <h3>Adres</h3>
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>
        </div>
        <div class="text-muted" style="float: left">
            <h3>E-mail</h3>
            <address>
                <strong>E-Mail:</strong> <a href="mailto:CeeLearndAndDo@CLAD.com">CeeLearndAndDo@CLAD.com</a><br />
            </address>
        </div>
    </div>
    <
</body>
</html>
