﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*More Styles*/

.bodyBackground {
    background-image: url('4358-sun-bright.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-width: 570px;
    padding: 51px 10% 60px 10%;
}

.pageBackground {
    min-width: 975px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
}

.pageBottom {
    min-width: 975px;
    min-height: 150px;
    background-color: #222;
    padding: 20px;
    margin-top: -10px;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    border-radius: 0 0px 4px 4px;
}

.navbar-top {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.table-container {
    background-color: #eeeeee;
}

.message-field {
    width: 500px;
    height: 155px !important;
    resize: none;
}

.form-text {
    vertical-align: top;
}

.form-textfield {
    width: 250px;
}

.login-button {
    margin-top: 8px;
    background-color: #999;
    color: #222;
    float: right;
}

    .login-button:hover {
        margin-top: 8px;
        background-color: #444;
        color: #999;
        float: right;
    }

.top-li:hover {
    background-color: #444;
}

.recent-articles-box {
    height: auto;
    border: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 30px;
    background-color: #222;
    border-radius: 0 0 10px 10px;
}

.recent-article-box-title {
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 200;
    color: white;
    background-color: #222;
}

.recent-article-li {
    list-style: none;
    padding: 10px 15px;
    background-color: white;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
}

.article {
    padding: 15px 30px;
    margin-bottom: 15px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-size: 20px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 5%, rgba(238,238,238,1) 95%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(5%, rgba(238,238,238,1)), color-stop(95%, rgba(238,238,238,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 5%, rgba(238,238,238,1) 95%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 5%, rgba(238,238,238,1) 95%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 5%, rgba(238,238,238,1) 95%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 5%, rgba(238,238,238,1) 95%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.article-preview {
    padding: 15px;
    margin-bottom: 15px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-size: 20px;
    background-color: #eeeeee;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 32%, rgba(238,238,238,1) 71%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(32%, rgba(238,238,238,1)), color-stop(71%, rgba(238,238,238,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 32%, rgba(238,238,238,1) 71%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 32%, rgba(238,238,238,1) 71%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 32%, rgba(238,238,238,1) 71%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 32%, rgba(238,238,238,1) 71%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

    .article-preview:hover {
        background: rgba(238,238,238,1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 88%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(238,238,238,1)), color-stop(79%, rgba(255,255,255,1)), color-stop(88%, rgba(255,255,255,1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 88%);
        background: -o-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 88%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 88%);
        background: radial-gradient(ellipse at center, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 88%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=1 );
    }

.article-text {
    padding-left: 15px;
}

.article-by {
    padding: 15px 30px;
    font-style: italic;
    font-size: 16px;
}

.article-preview-by {
    padding: 15px 0;
    font-style: italic;
    font-size: 16px;
}

.recent-article-box-content {
    background-color: #ffffff;
}

.control-tellafriend {
    width: auto;
    margin: 5px;
}

.tellafriend-box-content {
    background-color: #ffffff;
    padding: 5px;
}

.article-list-title {
    list-style: none;
    padding: 2px 0 2px 15px;
    background-color: white;
    color: white;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background-color: #222;
    border-top: 1px solid lightgray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.reference-list-title {
    list-style: none;
    padding: 2px 0 2px 15px;
    background-color: white;
    color: white;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background-color: #222;
    border-top: 1px solid lightgray;
}

.article-list {
    list-style: none;
    padding: 2px 0 2px 15px;
    background-color: white;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 32%, rgba(238,238,238,1) 71%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(32%, rgba(238,238,238,1)), color-stop(71%, rgba(238,238,238,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 32%, rgba(238,238,238,1) 71%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 32%, rgba(238,238,238,1) 71%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 32%, rgba(238,238,238,1) 71%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 32%, rgba(238,238,238,1) 71%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

    .article-list:hover {
        padding-left: 20px;
        background: rgba(238,238,238,1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 88%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(238,238,238,1)), color-stop(79%, rgba(255,255,255,1)), color-stop(88%, rgba(255,255,255,1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 88%);
        background: -o-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 88%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 88%);
        background: radial-gradient(ellipse at center, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 88%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=1 );
    }

    .article-list:last-child {
        margin-bottom: -1px;
    }

.article-options {
    float: right;
    font-size: 14px;
    vertical-align: middle;
}

.article-field {
    width: 100%;
    height: 800px !important;
    resize: none;
}

.rss {
    margin: 15px;
    float: right;
    width: 64px;
    height: 64px;
    background-size: contain;
    background-image: url("rss.png");
}

.file-input-wrapper {
    height: 30px;
    margin: 2px;
    overflow: hidden;
    position: relative;
    width: 118px;
    background-color: #fff;
    cursor: pointer;
}

    .file-input-wrapper > input[type="file"] {
        font-size: 40px;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        cursor: pointer;
    }

    .file-input-wrapper > .btn-file-input {
        background-color: #494949;
        border-radius: 4px;
        color: #fff;
        display: inline-block;
        height: 34px;
        margin: 0 0 0 -1px;
        padding-left: 0;
        width: 121px;
        cursor: pointer;
    }

    .file-input-wrapper:hover > .btn-file-input {
        //background-color: #494949;
    }

.article-image {
    float: right;
    margin: 10px;
    max-width: 45%;
    max-height: 600px;
}

.reference-image {
    clear: none;
    float: right;
    margin: 10px;
    height: 150px;
    width: 150px;
}
.reference-preview {
    float: left;
    padding: 15px 0;
    font-style: italic;
    font-size: 16px;
    display: block;
}
.reference-preview.article-list {
    display: block;
}